@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*------Cores------*/
:root{
    --gray: #131313;
    --black: #000000;
    --white: #ffffff;
    --green: #4FFF5B;
    --dark-green: #288a2e;
}

body{
    background-color: var(--gray);
}

/*------Menu------*/
.menu{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--black);
    padding: 10px;
}

.menu h3{
    color: var(--green);
    font-weight: 400;
}

/*------Login------*/
.login{
    width: 8%;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: var(--gray);
    gap: 10px;
}

.login a{
    color: var(--green);
    text-decoration: none;
}

.login span{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--white);
    color: var(--white);
}

/*------Banner------*/
.banner{
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--white);
}

#parallax{
    background-image: url(./Img/banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
}

.banner h1{
    font-size: 70px;
    font-weight: 400;
}

.banner p{
    font-size: 20px;
}

/*------Pesquisa------*/
.pesquisa{
    width: 50%;
    padding: 5px;
    margin-top: 10px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.501);
    backdrop-filter: blur(30px);
    border: 1px solid var(--white);
}

.pesquisa input{
    width: 93%;
    height: 40px;
    padding: 0 10px;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--white);
    font-size: 15px;
}

.pesquisa input::placeholder{
    color: var(--white);
}

.pesquisa button{
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    color: var(--white);
    font-size: 30px;
    cursor: pointer;
}

/*------Filmes------*/
.filmes{
    width: 100%;
    padding: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--black);
    border: 1px solid var(--white);
    border-radius: 10px;
    padding: 10px;
}

.card img{
    width: 100%;
    height: 60vh;
}

.card button{
    width: 100%;
    height: 50px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--green);
    font-size: 20px;
    transition-duration: 0.5s;
    cursor: pointer;
}

.card button:hover{
    background-color: var(--dark-green);
}

.barra{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    color: var(--white);
    font-size: 17px;
}

/*------Cinema------*/
.cinema{
    width: 100%;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cinema h1{
    font-size: 40px;
    font-weight: 400;
    color: var(--green);
    margin-bottom: 10px;
}

/*------Carrossel------*/
.carrossel{
    width: 50%;
    height: 500px;
    overflow: hidden;
    box-shadow: 0px 10px 20px 0px black;
    border-radius: 10px;
    border: 1px solid var(--green);
}

.imagens{
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}

.imagens img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

/*------Trailer------*/
.trailer{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid var(--green);
}

.titulo{
    width: 30%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--green);
}

.titulo h1{
    font-size: 40px;
    font-weight: 400;
}

.titulo h2{
    font-size: 30px;
    font-weight: 400;
    margin-top: 10px;
}

.titulo p{
    font-size: 20px;
    margin-top: 10px;
}

/*------Copyright------*/
.copyright{
    width: 100%;
    padding: 5px;
    background-color: var(--black);
    color: var(--green);
}

.copyright p{
    font-size: 20px;
    text-align: center;
}

/*------Responsividade------*/
@media screen and (max-width: 768px) {
    .menu{
        justify-content: space-between;
    }

    .login{
        width: 25%;
    }

    .pesquisa{
        width: 90%;
    }

    .card{
        width: 90%;
    }

    .carrossel{
        width: 100%;
        height: 420px;
    }

    .trailer{
        flex-direction: column;
    }

    .titulo{
        width: 90%;
        height: 20vh;
    }

    .titulo h1{
        font-size: 35px;
    }

    .titulo h2{
        font-size: 27px;
        margin-top: 5px;
    }

    .titulo p{
        margin-top: 5px;
    }

    .trailer iframe{
        width: 90%;
        height: 40vh;
    }
}